<div class="install">
  <h2>Установка</h2>
  <h3>Подготовка автомобиля</h3>
  <div class="text">Для проведения работ по установке шумо-вибро-тепло-изоляции автомобиля необходимо произвести полную
    разборку дверей, салона и багажника автомобиля до металла, удалить заводскую звукоизоляцию, и обезжирить все рабочие
    поверхности автомобиля ацетоном или обезжиривателем.
  </div>
  <h3>Рекомендации по проклейке автомобиля</h3>
  <div class="text">Рабочая температура должна быть не ниже 5 градусов тепла, в противном случае материал рекомендуется
    разогреть термопистолетом (профессиональным феном) или выдержать при комнатной температуре не менее суток. При
    монтаже вибропоглощающих материалов настоятельно рекомендуем применять прикаточный валик — чем лучше материал
    прикатан к кузову, тем больше эффект от его применения. Раскатывать материал необходимо от центра к краям, тщательно
    отслеживая все формы изгибов металла не допуская образования воздушных пузырей.
  </div>
  <h3>Проклейка автомобиля</h3>
  <div class="install-items">
    <div
      @fromDownShowAnimation
      *ngFor="let ii of installItems"
      (click)="openInstallItemModal(ii.id)"
      class="install-item"
    >
      <h5>{{ii.name}}</h5>
    </div>
  </div>
  <h3>Заключительный этап</h3>
  <div class="text">Далее производится сборка салона автомобиля. Клипсы желательно применять новые. Весь комплекс
    проведенных работ обеспечивает надежную защиту от проникновения шумов различного происхождения в салон автомобиля,
    утепляет его, убирает возможное трение пластмассовых деталей и скрип, придает автомобильной акустике отличное,
    глубокое звучание. По своим характеристикам материалы «ВИКАР» обладают антикоррозийными свойствами и надежно
    защищают Ваш автомобиль от коррозии. Все материалы имеют сертификаты соответствия и технические заключения.
    Долговечность материалов 20 лет, согласно заключению НИИ МОССТРОЙ г. Москва.
  </div>
  <h3>В итоге</h3>
  <div class="as-result">
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Снижается шум от трения колес о дорожное покрытие, от ударов различных частиц (песка,
      гравия и т.д.) дорожного полотна о днище автомобиля. Обеспечивается защита от проникновения в салон шума
        работающего двигателя, коробки передач и глушителя.</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Приятное звучание акустики.</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Теплоизоляция салона. Быстрый прогрев салона в зимнее время и медленный нагрев в летнее время</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Глухое закрывание капота и дверей</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Защита от продувания дверей</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Снижение структурных вибраций</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Исчезает эффект «барабана» при дожде и граде</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Комфортное вождение автомобиля</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span>Исчезновение скрипов и дребезгов</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Увеличение времени остывания двигателя в зимнее время</span>
    </div>
    <div class="as-result-item">
      <!--<img src="/assets/img/ok2.svg" class="as-result-item-ok2" />-->
      <!--<span class="as-result-item-ok"></span>-->
      <span class="as-result-item-text">Исчезает возможность образования конденсата на крыше со стороны салона в зимнее время</span>
    </div>
  </div>
</div>
