<div class="install">
  <h2>Установка</h2>
  <h3>Подготовка автомобиля</h3>
  <div class="text">Для проведения работ по установке шумо-вибро-тепло-изоляции автомобиля необходимо произвести полную
    разборку дверей, салона и багажника автомобиля до металла, удалить заводскую звукоизоляцию, и обезжирить все рабочие
    поверхности автомобиля ацетоном или обезжиривателем.
  </div>
  <h3>Рекомендации по проклейке автомобиля</h3>
  <div class="text">Рабочая температура должна быть не ниже 5 градусов тепла, в противном случае материал рекомендуется
    разогреть термопистолетом (профессиональным феном) или выдержать при комнатной температуре не менее суток. При
    монтаже вибропоглощающих материалов настоятельно рекомендуем применять прикаточный валик — чем лучше материал
    прикатан к кузову, тем больше эффект от его применения. Раскатывать материал необходимо от центра к краям, тщательно
    отслеживая все формы изгибов металла не допуская образования воздушных пузырей.
  </div>
  <h3>Проклейка автомобиля</h3>
  <div class="install-items">
    <div (click)="openInstallItemModal(ii.id)" class="install-item" *ngFor="let ii of installItems">{{ii.name}}</div>
  </div>
  <h3>Заключительный этап</h3>
  <div class="text">Далее производится сборка салона автомобиля. Клипсы желательно применять новые. Весь комплекс
    проведенных работ обеспечивает надежную защиту от проникновения шумов различного происхождения в салон автомобиля,
    утепляет его, убирает возможное трение пластмассовых деталей и скрип, придает автомобильной акустике отличное,
    глубокое звучание. По своим характеристикам материалы «ВИКАР» обладают антикоррозийными свойствами и надежно
    защищают Ваш автомобиль от коррозии. Все материалы имеют сертификаты соответствия и технические заключения.
    Долговечность материалов 20 лет, согласно заключению НИИ МОССТРОЙ г. Москва.
  </div>
  <h3>В итоге</h3>
  <div class="as-result">
    <div class="as-result-item">Снижается шум от трения колес о дорожное покрытие, от ударов различных частиц (песка,
      гравия и т.д.) дорожного полотна о днище автомобиля. Обеспечивается защита от проникновения в салон шума
      работающего двигателя, коробки передач и глушителя.
    </div>
    <div class="as-result-item">Приятное звучание акустики.</div>
    <div class="as-result-item">
      Теплоизоляция салона. Быстрый прогрев салона в зимнее время и медленный нагрев в летнее время.
    </div>
    <div class="as-result-item">Глухое закрывание капота и дверей.</div>
    <div class="as-result-item">Защита от продувания дверей.</div>
    <div class="as-result-item">Снижение структурных вибраций.</div>
    <div class="as-result-item">Исчезает эффект «барабана» при дожде и граде.</div>
    <div class="as-result-item">Комфортное вождение автомобиля.</div>
    <div class="as-result-item">Исчезновение скрипов и дребезгов.</div>
    <div class="as-result-item">Увеличение времени остывания двигателя в зимнее время.</div>
    <div class="as-result-item">
      Исчезает возможность образования конденсата на крыше со стороны салона в зимнее время.
    </div>
  </div>
</div>
