<div class="wrap" >
  <nav>
    <a routerLink="/" class="logo">
      <span></span>
    </a>

    <div class="links">
      <a class="link" *ngFor="let item of menu" routerLink="{{item.link}}" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">{{item.title}}</a>
      <button class="menu-mobile-btn" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">&#9776;
      </button>
    </div>
    <a class="btn-cart" routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Корзина
      ({{counter}})</a>
  </nav>
  <div class="menu-mobile">
    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
      <div class="menu-mobile-items">
        <a *ngFor="let item of menu" routerLink="{{item.link}}" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" (click)="hideMobileMenu()">{{item.title}}</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer>
    <div>
      <!--<h5>Более подробная информация о компании, условиях предоставления услуг и сотрудничесиве</h5>-->
      <div class="footer-body">
        <h6><a href="#">Магазинам</a></h6>
        <h6><a href="#">Условия доставки</a></h6>
      </div>
    </div>
    <div>
      <div class="footer-body">
        <img src="/assets/img/logo_sq.svg" class="footer-logo" />
        <span>VIKAR-AUTO</span>
        <!--<span>&copy; 2010 - 2019</span>-->
      </div>
    </div>
  </footer>
</div>

