<div class="catalog">
  <div class="menu" *ngIf="categories.length > 0">
    <h2>Каталог товаров</h2>
    <div *ngFor="let cat of categories"
         [ngClass]="{'menu-item':true, 'active': (currentCategory) ? (cat.id === currentCategory.id) : false}"
         (click)="showCategory(cat.id)">{{cat.name}}</div>
  </div>
  <div class="good-groups" *ngIf="categories.length > 0">
    <div class="good-groups-category">
      <h3>{{currentCategory.name}}</h3>
      <div class="good-group" *ngFor="let gg of currentCategoryGoodGroups">
        <h4>{{gg.goodGroup.name}}</h4>
        <hr>
        <!--Вибропоглощающие материалы-->
        <table
          @fromDownShowAnimation
          *ngIf="(currentCategory.n == 1) || (currentCategory.n == 4)"
          class="good-group-table"
        >
          <thead>
          <tr>
            <td>Наименование</td>
            <td>Толщина герметика</td>
            <td>Размер листа</td>
            <td>Площадь листа</td>
            <td>Цена</td>
            <td>В корзину</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let g of gg.goods">
            <td>{{g.good.name}}</td>
            <td>{{g.good.thickness}}</td>
            <td>{{g.good.size}}</td>
            <td>{{g.good.square}}</td>
            <td>{{g.good.price}}&#8381;</td>
            <td>
              <div class="btn-buy-group">
                <button type="button" (click)="minusGood($event, g.good.id)">-</button>
                <input type="number" value="{{g.quantity}}" (input)="inputGood($event, g.good.id)"/>
                <button type="button" (click)="plusGood($event, g.good.id)">+</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <!--Шумоизоляция, теплоизоляция, шумо-теплоизолирующие материалы-->
        <table
          @fromDownShowAnimation
          *ngIf="currentCategory.n == 2"
          class="good-group-table"
        >
          <thead>
          <tr>
            <td>Наименование</td>
            <td>{{gg.goodGroup.thicknessOf}}</td>
            <td>Размер листа</td>
            <td>Площадь листа</td>
            <td>Цена</td>
            <td>В корзину</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let g of gg.goods">
            <td>{{g.good.name}}</td>
            <td>{{g.good.thickness}}</td>
            <td>{{g.good.size}}</td>
            <td>{{g.good.square}}</td>
            <td>{{g.good.price}}&#8381;</td>
            <td>
              <div class="btn-buy-group">
                <button type="button" (click)="minusGood($event, g.good.id)">-</button>
                <input type="number" value="{{g.quantity}}" (input)="inputGood($event, g.good.id)"/>
                <button type="button" (click)="plusGood($event, g.good.id)">+</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <!--Антискрипскрипные материалы-->
        <table
          @fromDownShowAnimation
          *ngIf="currentCategory.n == 3"
          class="good-group-table"
        >
          <thead>
          <tr>
            <td>Наименование</td>
            <td>Ширина рулона</td>
            <td>Длина рулона</td>
            <td>Цена</td>
            <td>В корзину</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let g of gg.goods">
            <td>{{g.good.name}}</td>
            <td>{{g.good.width}}</td>
            <td>{{g.good.length}}</td>
            <td>{{g.good.price}}&#8381;</td>
            <td>
              <div class="btn-buy-group">
                <button type="button" (click)="minusGood($event, g.good.id)">-</button>
                <input type="number" value="{{g.quantity}}" (input)="inputGood($event, g.good.id)"/>
                <button type="button" (click)="plusGood($event, g.good.id)">+</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
