carousel.main {
  background-color: darkgreen;
}

carousel.main slide {
  width: 100vw;
  height: 100vh;
  outline: none;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  transition: 1s;
}

carousel.main slide:nth-child(1) {
  background-image: url('/assets/img/bmw-01.jpg');
}

carousel.main slide:nth-child(2) {
  background-image: url('/assets/img/bmw-02.jpg');
}

carousel.main slide:nth-child(3) {
  background-image: url('/assets/img/bmw-03.jpg');
}
carousel.main slide::after {
  content: url('/assets/img/waves-05.svg');
  opacity: .8;
  transition: 1s;
}
carousel.main slide:hover::after {
  opacity: .3;
}
carousel.main .carousel-caption {
  bottom: 60px;
  background-color: rgba(0, 0, 0, .4);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.static-block {
  position: absolute;
  top: 120px;
  left: 40px;
  width: 40vw;
  padding: 10px;
  border: solid 4px #7f251d;
  background-color: rgba(0, 0, 0, .8);
  color: #e4e4e4;
}


/**
  SCREEN HAND-CALC
 */
.block {
  width: 100%;
  height: 100vh;
  padding: 40px;
  background-size: cover;
}

.block-hand-calc {
  background-color: #e4e4e4;
  background-image: url('/assets/img/back_img2.svg');
}

.inner {
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
}

.hands, .calc {
  flex-basis: 50%;
  border: solid 1px #555;
  height: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.hands h4, .calc h4 {
  flex-basis: 100%;
  font-size: 2.2vw;
  /*text-align: center;*/
}

.icon {
  width: 15vw;
  height: 15vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: solid 1px #7f251d;
  cursor: pointer;
  transition: .3s;
}

.icon:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
}

.hands .icon {
  background-image: url('/assets/img/hand.svg');
}

.calc .icon {
  background-image: url('/assets/img/calc2.svg');
}

.text {
  flex-basis: 100%;
  font-size: 1.7vw;
  padding: 10px 10%;
}

.button {
  min-width: 30%;
  border-radius: 0;
  padding: 20px;
  cursor: pointer;
  font-weight: 600;
  border: solid 1px #333;
  background-color: #7f251d;
  color: white;
  transition: .3s;
}

.button:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
}

/**
  SCREEN ABOUT
 */
.block-about {
  padding: 100px 50px 50px;
  background-image: url('/assets/img/back_img2.svg');
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.caption {
  width: 70%;
  padding: 40px;
  border-radius: 10px;
  border: solid 1px #333;
  background-color: rgba(255,255,255,.7);
  font-size: 1.4vw;
}

.slider {
  width: 75%;
  margin-left: 25%;
  /*border: solid 1px darkred;*/
  padding: 50px 0;
}




@media (max-width: 1024px) {
  .block {
    height: auto;
  }

  .inner {
    flex-wrap: wrap;
    padding: 20px;
  }

  .block-about {
    padding: 100px 0 20px;
    justify-content: center;
    min-height: 100vh;
  }
  .caption {
    width: 80%;
    padding: 20px;
    font-size: 16px;
  }

  .slider {
    width: 100%;
    margin: 0;
  }

  .block-hand-calc {
    padding: 100px 20px;
  }
  .hands, .calc {
    flex-basis: 100%;
    height: auto;
    padding: 20px;
  }

  .hands h4, .calc h4 {
    font-size: 5vw;
  }

  /*.calc {*/
    /*margin-top: 20px;*/
  /*}*/
  .icon {
    width: 30vw;
    height: 30vw;
  }

  .text {
    font-size: 3vw;
  }

}

@media (max-width: 768px) {
  .static-block {
    width: 80vw;
  }
}
