.catalog {
  padding: 100px 40px 40px;

  min-height: 100vh;
}

h2 {
  flex-basis: 100%;
  text-align: left;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.category {
  flex-basis: 49%;
  border: solid 1px #555;
  cursor: pointer;
  margin: 20px 0;
  padding: 10px;
}


@media (max-width: 1024px) {
  .catalog {
    padding: 100px 20px 20px;
  }
}

@media (max-width: 450px) {
  .catalog {
    padding: 100px 7px 20px;
  }

  h2 {
    flex-basis: 100%;
    text-align: center;
  }

  .category {
    text-align: center;
  }
}
