.catalog {
  padding: 100px 40px 40px;

  min-height: 100vh;
}

h2 {
  flex-basis: 100%;
  text-align: left;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.category {
  flex-basis: 49%;
  border: solid 1px #555;
  cursor: pointer;
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background-image: url('/assets/img/vibro.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.category > * {
  flex-basis: 100%;
}

@media (max-width: 1024px) {
  .catalog {
    padding: 100px 20px 20px;
  }
}

@media (max-width: 450px) {
  .catalog {
    padding: 100px 7px 20px;
  }

  h2 {
    flex-basis: 100%;
    text-align: center;
  }

  .category {
    text-align: center;
  }
}



/*IMG*/
.imgs {
  align-self: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.img {
  width: 150px;
  height: 150px;
  margin: 3px;
  background-size: cover;
  background-position: center center;
}
.img:nth-child(1)::after {
  content: url('/assets/img/waves-01.svg');
  transition: 1s;
}
.img:nth-child(2)::after {
   content: url('/assets/img/wave-points.svg');
  transition: 1s;
 }
.img:nth-child(3)::after {
  content: url('/assets/img/waves-03.svg');
  transition: 1s;
}
.img:hover::after {
  opacity: .3;
  /*transform: rotate(50deg);*/
}
